<h1>Listing Products</h1>

<section class="product-container-home">
  <% @products.each do |product| %>
    <article>
      <%= link_to(product) do %>
        <%= image_tag(product.image.display.url, alt: 'Image') if product.image? %>
        <!-- <h2 class="img__description">Hello World</h2> -->
        <div class="img__description">
          <%= product.title %>
          <br/>
          <%= product.price %>
        </div>

        <!-- <div class="product-container-image-description">
        </div> -->
      <% end %>
    </article>
  <% end %>
</section>



<table>
  <tr>
    <th>Title</th>
    <th>Text</th>
  </tr>

  <% @products.each do |product| %>
    <tr>
      <td><%= product.title %></td>
      <td><%= truncate(product.description, length: 150) %></td>
      <td><%= product.price %></td>
      <td><%= image_tag(product.image.display.url, alt: 'Image') if product.image? %></td>
      <td><%= link_to 'Show', product_path(product) %></td>
      <td><%= link_to 'Edit', edit_product_path(product) %></td>
      <td><%= link_to 'Delete', product_path(product), method: :delete, data: { confirm: 'Are you sure?'} %></td>
    </tr>
  <% end %>
</table>

<%= link_to 'Add Product', new_product_path %>
