<h1>Listing Products</h1>

<table>
  <tr>
    <th>Title</th>
    <th>Text</th>
  </tr>

  <% @products.each do |product| %>
    <tr>
      <td><%= product.title %></td>
      <td><%= truncate(product.description, length: 150) %></td>
      <td><%= product.price %></td>
      <td><%= image_tag(product.image.thumb.url, alt: 'Image') if product.image? %></td>
      <td><%= link_to 'Show', product_path(product) %></td>
      <td><%= link_to 'Edit', edit_product_path(product) %></td>
      <td><%= link_to 'Delete', product_path(product), method: :delete, data: { confirm: 'Are you sure?'} %></td>
    </tr>
  <% end %>
</table>

<%= link_to 'Add Product', new_product_path %>
