<%= link_to 'Go back', products_path %>
<section class="product-container">
  <article class="product-container-left-article">
    <h2>
      <%= @product.title %>
    </h2>
    <p class="product-price">
      <%= @product.price %>
    </p>
    <p class="product-description">
      <%= @product.description %>
    </p>
    <p>Quantity</p>
    <button>Add to Cart</button>

    <%= form_tag do %>
      <%= text_field_tag :test, value: session[:value] %>
    <% end %>
    
  </article>

  <%= image_tag(@product.image.display.url, alt: 'Image') if @product.image? %>
  <!-- Share with SNS -->
</section>

<%= link_to 'Edit', edit_product_path %>
