<!DOCTYPE html>
<html>
  <head>
    <title>LittleRhoda</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <!-- Fonts -->
    <!-- Playfair Display Google Font -->
    <link href="https://fonts.googleapis.com/css?family=Playfair+Display:400,400i,700,700i" rel="stylesheet">

  </head>

  <body>
    <header>
      <%= link_to 'Home', root_path, id: 'home' %>
      <%= link_to 'Product', products_path, id:'product' %>
      <%= link_to 'About', about_path, id:'about' %>
      <%= link_to 'Contact', contact_path, id:'contact' %>
    </header>
    <%= yield %>
  </body>
</html>
